*{
    font-style: italic;
    font-size: medium;
}
.auth_area {
    float: right;
    padding-left: 4px;
}

.lang_area{
    margin-top: 10px;
    margin-right: 6px;
    float: right;
}

.headerButton {
    background-color: Transparent !important;
    background-repeat:no-repeat;
    color: #9d9d9d !important;
    border: none;
    cursor:pointer !important;
    overflow: hidden;
    outline:none;
}
.headerButton:hover {
    color: white !important;
}
input[type="submit"] {
    color: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    cursor: pointer;
    background-color: darkgrey;
}
.pageNumsNav{
    display: block;
    margin: 20px 0;
}
.pageNumsHref{
    font-weight: bold;
    padding: 3px 8px;
    background: #E8F8FE;
    margin: 0 5px 0 0;
    text-transform: uppercase;
    border-radius: 10px;
    color: #369;
}
.drugDescription{
    margin-right: 20px;
    border: 2px solid #2DB3E0;
    margin-top: 10px;
    float: left;
    width: 350px;
    border-radius: 5px;
}
.clearfix::after {
    content: " ";
    clear: both;
}
.rssImg{
    max-width: 200px;
    margin-right: 4px;
    float:left;
}
.rssText{
    max-width: 500px;
}
.content-table{
    margin: auto;
}