.login-label{
    padding: inherit;
    display: block;
    float: left;
    width: 160px;
    margin: 0 10px 10px 20px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}
.login-field {
    padding: 8px 10px;
}