.regist-label {
    padding: inherit;
    display: block;
    float: left;
    width: 160px;
    margin: 0 10px 10px 20px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

.regist-field {
    padding: 8px 10px;
}

.regist-input {
    border: 1px solid #2DB3E0;
    padding: 5px;
    margin-bottom: 10px;
}


#regist-submit{
    margin: 10px 20px 20px 30px;
}
h2 {
    display: block;
    clear: both;
    border-bottom: #2DB3E0 2px solid;
    margin: 10px 0 20px 0;
    padding: 5px 20px;
}
